*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: poppins;
    overflow-x: hidden;
}

.blur.active{
    filter: blur(5px);
    pointer-events: none;
    transition: 0.5s ease  ;
}

header{
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 6vh;
    background-color: tomato;
}

.logo{
    padding: 0px 30px;
    color: white;
    font-weight: 500;
    text-decoration: beige line-through;
    cursor: pointer;
}

nav a{
    color: white;
    padding: 0px 30px;
    font-weight: 500;
    transition: 0.3s ease;
}
nav a:hover{
    background-color: white;
    color: black;
}

.main-page{
    width: 100vw;
    height: 100vh;
    background-color: beige;
}
.main-page{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-page h1{
    font-weight: 900;
    text-decoration: overline  1px;
}
.page-todolist{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: white;

}
.container{
    display: flex;
    justify-content:baseline;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 80vh;
    background-color: tomato;
    border-radius: 50px;
    border: solid rgb(255, 255, 255) 5px;
    filter: drop-shadow(4px 4px 5px rgba(33,33,33,0.736));
}
.submit-button{
    padding: 10px 0px;
}
.submit-button button {
  background: #5E5DF0;
  border-radius: 50px;
  box-shadow: #5E5DF0 0 5px 10px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  touch-action: manipulation;
  word-break: break-word;
  border: 0;
}

.pop{
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    position: absolute;
    top: -200px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px 0 50px 0;
    filter: drop-shadow(4px 4px 5px rgba(33,33,33,0.736));
}

.pop-container{
    display: flex;
    flex-direction: column;
}

.flex{
    display: flex;
    gap: 1.5em;
}
.delete{
    text-decoration: none;
    display: inline-block;
    background-color:#5E5DF0;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    width: 30px;
    height: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.pop-container input{
    margin: 20px 0;
}
.pop-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5E5DF0;
    color: white;
}
.pop-top2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8888f0;
    color: white;
}

.container-close{
    position: absolute;
    top:85%;
    left:85%;
}
.btn-close{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(219, 219, 219);
    border-radius: 50%;
    padding: 0;
    border: none;
}

.btn-close:hover{
    background-color: rgb(170, 170, 170);
    cursor: pointer;
}

.material-symbols-outlined {
    overflow: hidden;
    transform: scale(2);
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 80
}

.pop.active{
    top : var(--y);
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    opacity: 1;
    visibility: visible;
}

form{
    margin: 30px 30px ;
    display: flex;
    justify-content: center;
}

.btn-validate{
    background: tomato;
    border-radius: 50px;
    box-shadow: black 0 5px 10px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    touch-action: manipulation;
    word-break: break-word;
    border: 0;
    transition: 0.2s ease;
}
.btn-validate:hover{
    background-color: brown;
}

span{
    color: white;
    
}